<md-button ng-href="#" class="md-raised" flex="50" flex-sm="100">Main</md-button>


<md-content>
    <md-card>
        <img ng-src="/assets/img/user.png" class="md-card-image" style="width:50px;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{student.name}}</span>
                <span class="md-subhead">{{student.address}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                {{student.description}}
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">

        </md-card-actions>
    </md-card>

</md-content>
